.title {
    width: 149px;
    padding-top: 35px;
    h1 {
        font-size: 18px;
        height: 28px;
        line-height: 28px;
    }
    h2 {
        font-size: 14px;
        height: 22px;
        line-height: 22px;
        border-bottom: 2px solid #333333;
        padding-bottom: 6px;
    }
}
.overview{
    section{
        margin-top:20px;
        margin-bottom: 40px;
        li{
            margin-top: 30px;
            strong{
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                background-color: #2e95ee;
                border-radius: 50%;
                text-align: center;
                margin-right: 20px;
            }
            p{
                width:700px;
                line-height: 30px;
                text-align: justify;
            }
        }
    }
}
.function {
    background-color: #fcfcfc;
    h1{
        margin-top: 40px;
    }
    section {
        position: relative;
        height: 400px;
        padding: 40px 0;
        div {
            width: 320px;
            position: absolute;
            &:nth-child(1){
                text-align: right;
                top: 80px;
                left: 0;
            }
            &:nth-child(2){
                text-align: left;
                top: 80px;
                right: 0;
            }
            &:nth-child(3){
                text-align: right;
                top: 320px;
                left: 0;
            }
            &:nth-child(4){
                text-align: left;
                top: 320px;
                right: 0;
            }
            button {
                width: 160px;
                height: 40px;
                background-color: #2e95ee;
                color: #fff;
                margin-bottom: 6px;
                border-radius: 4px;
            }
            p {
                text-align: justify;
                line-height: 20px;
            }
        }
    }
}
.feature{
    margin-bottom: 40px;
    ul{
        li{
            header{
                height: 90px;
                line-height: 90px;
                text-align: center;
                font-size: 24px;
            }
            section div{
                width: 224px;
                height: 152px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                line-height: 24px;
                padding: 0 30px;
                color: #fff;
                background-color: rgba(0,0,0,.5);
            }
            &:not(:last-child){
                margin-right: 21px;
            }
        }
    }
}
