.title {
    width: 149px;
    padding-top: 35px;
    h1 {
        font-size: 18px;
        height: 28px;
        line-height: 28px;
    }
    h2 {
        font-size: 14px;
        height: 22px;
        line-height: 22px;
        border-bottom: 2px solid #333333;
        padding-bottom: 6px;
    }
}
.overview{
    section{
        margin-top:20px;
        margin-bottom: 40px;
        p{
            width:630px;
            line-height: 30px;
            text-indent: 2em;
            text-align: justify;
        }
    }
}
.features{
    section{
        ul{
            padding: 20px 0;
            li{
                width:25%;
                div{
                    width:260px;
                    height: 230px;
                    margin:auto;
                    text-align: center;
                    padding: 40px 0;
                    header{
                        width: 260px;
                        height: 50px;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                    h1{
                        font-size: 18px;
                        color: #3096ee;
                        height:76px;
                        line-height: 76px;
                    }
                    p{
                        line-height: 26px;
                        text-align: justify;
                        text-indent: 2em;
                    }
                }
            }
        }
    }
}
.scenario{
    ul{
        padding-top: 40px;
        padding-bottom: 60px;
        li{
            position: relative;
            cursor: pointer;
            width: 370px;
            height: 224px;
            overflow: hidden;
            >img{
                transition: all .5s;
            }
            &:hover > img{
                transform: scale(1.4);
            }
            div{
                position: absolute;
                top: 64px;
                color: #fff;
                text-align: center;
                width: 80px;
                left: 0;
                right: 0;
                margin: auto;
                p{
                    height: 80px;
                    line-height: 80px;
                }
            }
            &:nth-child(2){
                margin: 0 45px;
            }
        }
    }
}
